<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>minecult.wtf start</title>
</head>
<body>
	<header>
		{% if server_status %}
			SERVER IS ONLINE
		{% else %}
			SERVER IS OFFLINE
		{% endif %}
	</header>
	<form action="/toggle" method="get">
	
		<button type="submit">TURN ON THE SERVER</button>
	</form>
</body>
</html> -->

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>minecult ignition</title>

	<!-- Bootstrap core CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: darkturquoise;
			color: darkblue;
			text-align: left;
		}
	</style>
</head>

<body>



	<!-- Begin page content -->
	<main role="main" class="container">
		<h1 id="status" class="jumbotron">
			minecult.wtf is: something terrible has happened
		</h1>

		
		<div id="timer" style="visibility: hidden;" class="alert alert-success" role="alert">
			Uptime remaining: N/A
		</div>



		<button id="ignite" class="btn btn-primary btn-lg btn-block"
			onclick="ignite()">
			Turn the server on
		</button>

		<div class="h3">
			<br>
			This page controls the minecult.wtf Minecraft server.
			<br>
			Click the button to turn on the server for 1 hour.
			This page will keep you updated on the status of the server.
			<br>
			In-game notifications will update you every 15 minutes as to how much time is left.
		</div>

	</main>


	<div class="footer">
		<p>Moody Rahman 2020 --- GNU GENERAL PUBLIC LICENSE</p>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="cult/update.js"></script>

</body>

</html>